.card-container {
  display: flex;
  flex-flow: row wrap;
}
.matches_create_container {
    width:100%;
}
.matches_edit_container {
    width:100%;
}
.btn_newmatch {
    margin-top: 20px;
    margin-bottom: 10px;
}
md-card {
    margin: 5px;
}
.matches_msg {
    margin-bottom: 10px;
}
.error_msg {
    color: red;
}
.success_msg {
    color: green;
}