.btn_login {
    margin-top: 20px;
    margin-bottom: 10px;
}
.card-container {
  display: flex;
  flex-flow: row wrap;
}
.login_container {
    text-align: center;
    width:100%;
}
.login_form {
    height: auto;
}
md-card {
    margin: 5px;
}