<div class="card-container">
  <div class="login_wrapper">
    <h2>Login</h2>
      <div class="social_wrapper">
        <div class="login_google">
          <button md-raised-button color="primary" class="btn_google" (click)="loginSocial('google')">
              Google+
          </button>
          <button md-raised-button color="primary" class="btn_facebook" (click)="loginSocial('facebook')">
              Facebook
          </button>
          <button md-raised-button color="primary" class="btn_twitter" (click)="loginSocial('twitter')">
              Twitter
          </button>
        </div>
        <div class="login_separator">
          <div class="login_divider1">
            <md-divider></md-divider>
          </div>
          <div class="login_or">
            <p>&nbsp; or &nbsp;
          </div>
          <div class="login_divider2">
            <md-divider></md-divider>
          </div>
        </div>
      </div>
      <div class="login_form">
      <form (ngSubmit)="doLogin()" #LoginForm="ngForm">
        <md-input placeholder="eMail" [(ngModel)]="loginmodel.email" name="email">
            <span md-prefix>
              <i class="material-icons app-input-icon">account_circle</i>
              &nbsp;
            </span>
        </md-input>
        <br>
        <md-input placeholder="Password" [(ngModel)]="loginmodel.password" name="password" type="password">
          <span md-prefix>
            <i class="material-icons app-input-icon">https</i>
            &nbsp;
          </span>
        </md-input>
        <br>
        <button md-raised-button color="primary" class="btn_login" type="submit">Login</button>
      </form>
      <a [routerLink]="['/register']" dense>Registrieren</a> &nbsp; <a [routerLink]="['/forgot']" dense>Passwort vergessen</a>
    </div>
  </div>
</div>