<div class="card-container">
  <div class="members_wrapper">
    <h2><a [routerLink]="['/admin']"><md-icon>arrow_back</md-icon></a> &nbsp; Mitglieder</h2>
    <md-nav-list>
      <md-list-item *ngFor="let adminmember of adminmembersmodel; let i = index;">
        <div class="md-list-text">{{adminmember.firstName}} {{adminmember.lastName}}</div>
        <md-checkbox [(ngModel)]="adminmember.paid" (change)="changePaid(i)" align="start">
          Bezahlt
        </md-checkbox>
        &nbsp; &nbsp;
        <md-checkbox [(ngModel)]="adminmember.admin" (change)="changeAdmin(i)" align="start">
          Administrator
        </md-checkbox>
      </md-list-item>
    </md-nav-list>
  </div>
</div>