.card-container {
    width: 100%;
}
.tipper_wrapper {
    margin: 10px;
}
.app-spinner {
  height: 30px;
  width: 30px;
  display: inline-block;
}
.match_container {
    padding: 5px;
    width: 100%;
    display: block;
}
.matchtop {
    text-align: center;
    width: 100%;
}
.matchfooter {
    width: 100%;
    margin-top: 5px;
}
.matchteam1 {
    display: flex;
    align-items: center;
}
.team1_flag {
    width: 55px;
    display: inline-block;
    align-items: center;
}
.team1_name {
    flex-grow: 100;
    display: inline-block;
    align-items: center;
}
.team1_tipp {
    width: 50px;
    display: inline-block;
}
.team1_res {
    display: inline-block;
    width: 50px;
    text-align: center;
}
.matchteam2 {
    display: flex;
    align-items: center;
}
.team2_flag {
    width: 55px;
    display: inline-block;
    align-items: center;
}
.team2_name {
    flex-grow: 100;
    display: inline-block;
    align-items: center;
}.team2_tipp {
    width: 50px;
    display: inline-block;
}
.team2_res {
    display: inline-block;
    width: 50px;
    text-align: center;
}
.teamflag {
    width: 50px;
    height: 50px;
}
.btn_wrapper {
    display: inline-block;
    width: 100%;
    text-align: center;
}
.btn_tipp {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}