<div class="card-container">
  <div class="tipper_wrapper">
    <h2><a [routerLink]="['/tipp']"><md-icon>arrow_back</md-icon></a> &nbsp; {{categoryname}}</h2>
    <md-spinner *ngIf="!preloadingDone" class="app-spinner"></md-spinner>
    <div *ngIf="nomatches" class="no_matches">{{ 'Bisher keine Matches in dieser Kategorie vorhanden' | translate }}</div>
    <div *ngFor="let match of matchesmodelview" class="match_container">
      <div class="match_wrapper" [style.background]="match.background">
        <div class="matchtop">
          <div class="matchstart">{{match.start}}</div><div class="matchlocation">{{match.matchlocation}}</div>
        </div>
        <div class="matchteam1" >
          <div class="team1_flag">
            <img class="teamflag" [src]="match.team1flag" />
          </div>
          <div class="team1_name">
            {{match.team1name}}
          </div>
          <div class="team1_tipp">
            <md-input type="number" [(ngModel)]="match.tipp1" [disabled]="match.deadline < now" name="tipp1" style="width:40px" min="0" max="99"></md-input>
          </div>
          <div class="team1_res">
            {{match.result1}}
          </div>
        </div>
        <div class="matchteam2">
          <div class="team2_flag">
            <img class="teamflag" [src]="match.team2flag" />
          </div>
          <div class="team2_name">
            {{match.team2name}}
          </div>
          <div class="team2_tipp">
            <md-input type="number" [(ngModel)]="match.tipp2" [disabled]="match.deadline < now" name="tipp2" style="width:40px" min="0" max="99"></md-input>
          </div>
          <div class="team2_res">
            {{match.result2}}
          </div>
        </div>
      </div>
      <div class="matchfooter">
        <md-divider></md-divider>
      </div>
    </div>
    <div *ngIf="preloadingDone && !nomatches" class="btn_wrapper">
      <button md-raised-button (click)="submitTipps()" class="btn_tipp" color="primary">
        <md-spinner *ngIf="loading" class="app-spinner"></md-spinner>
        <span *ngIf="!loading">Absenden</span>
      </button>
    </div>
  </div>
</div>