.card-container {
    width: 100%;
}
.tipper_wrapper {
    margin: 10px;
}
.match_container {
    padding: 5px;
    width: 100%;
}
.app-spinner {
  height: 30px;
  width: 30px;
  display: inline-block;
}
.matchtop {
    text-align: center;
    width: 100%;
    display: inline-block;
}
.matchbody {
    width: 100%;
    display: flex;
}
.matchbody-col1 {
    text-align: center;
    width: 30%;
}
.matchbody-col2 {
    vertical-align: middle;
    text-align: center;
    width: 40%;
    height: auto;
}
.matchbody-col3 {
    text-align: center;
    width: 30%;
}
.matchbottom {
    text-align: center;
    width: 100%;
    display: inline-block;
}
.teamflag {
    width: 50px;
    height: 50px;
}
.btn_wrapper {
    display: inline-block;
    width: 100%;
    text-align: center;
}
.btn_tipp {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}