<div class="card-container">
  <div class="tipper_wrapper">
    <h2><a [routerLink]="['/tipp']"><md-icon>arrow_back</md-icon></a> &nbsp; {{categoryname}}</h2>
    <md-spinner *ngIf="!preloadingDone" class="app-spinner"></md-spinner>
    <div *ngIf="nomatches" class="no_matches">{{ 'Bisher keine Matches in dieser Kategorie vorhanden' | translate }}</div>
    <div *ngFor="let match of matchesmodelview" class="match_container">
      <div class="match_wrapper" [style.background]="getBackground(match)">
        <div class="matchtop">
          <div class="matchstart">{{match.matchstart | date:"dd.MM.yyyy, HH:mm" }}</div><div class="matchlocation">{{match.matchlocation}}</div>
        </div>
        <div class="matchteam1" >
          <div class="team1_flag">
            <md-spinner *ngIf="!match.team1flag" class="app-spinner"></md-spinner>
            <img *ngIf="match.team1flag" class="teamflag" [src]="match.team1flag" />
          </div>
          <div class="team1_name">
            {{match.team1name}}
          </div>
          <div class="team1_tipp">
            <md-input-container>
              <input mdInput type="number" [(ngModel)]="match.tipp1" [disabled]="now > match.deadline" name="tipp1" style="width:40px" min="0" max="99">
            </md-input-container>
          </div>
        </div>
        <div class="matchteam2">
          <div class="team2_flag">
            <md-spinner *ngIf="!match.team2flag" class="app-spinner"></md-spinner>
            <img *ngIf="match.team2flag" class="teamflag" [src]="match.team2flag" />
          </div>
          <div class="team2_name">
            {{match.team2name}}
          </div>
          <div class="team2_tipp">
            <md-input-container>
              <input mdInput type="number" [(ngModel)]="match.tipp2" [disabled]="now > match.deadline" name="tipp2" style="width:40px" min="0" max="99">
            </md-input-container>
          </div>
        </div>
        <div class="matchbottom">
          <div class="match_other_tipps"><button md-button (click)="showOtherTipps(match.$key, match.team1name, match.team2name)">{{ 'Andere Tipps' | translate }}</button></div>
          <div *ngIf="(match.result1 != undefined && match.result1 != null) && (match.result2 != undefined && match.result2 != null)" class="match_result"><button md-button>{{ 'Ergebnis' | translate }}: {{match.result1}}-{{match.result2}} ({{match.points}} Pt.)</button></div>
        </div>
      </div>
    </div>
  </div>
</div>
<span class="app-action" *ngIf="preloadingDone && !nomatches">
  <button md-fab (click)="submitTipps()" color="primary">
    <md-icon>save</md-icon>
  </button>
</span>