<md-toolbar color="primary" class="navbar">
  <button class="app-icon-button" (click)="sidenav.toggle()">
    <i class="material-icons app-toolbar-menu">menu</i>
  </button>
  <span class="logo_header"><img [routerLink]="['dashboard']" src="assets/atippr_logo.svg" type="image/svg+xml" style="height:30px"></span>
  <button *ngIf="logged" class="app-icon-button" (click)="toggleChat(sidenavright)">
    <div *ngIf="member.chatactivity < lastChatActivity" class="icon-notification">!</div>
    <i class="material-icons app-toolbar-menu">chat</i>
  </button>
  <div>
    <img class="user-avatar" *ngIf="member.photo" src="{{ member.photo }}" alt="Avatar">
    <img class="user-avatar" *ngIf="member.photoSocial" src="{{ member.photoSocial }}" alt="Avatar">
  </div>
</md-toolbar>

<md-sidenav-container class="app-layout">

  <md-sidenav #sidenav mode="over" class="app-sidenav mat-sidenav-over">
    <div class="my-content">
      <md-nav-list *ngIf="!logged">
        <md-list-item [routerLink]="['intro']" (click)="sidenav.toggle()"><md-icon md-list-icon>info</md-icon><p md-line>{{ 'Einführung' | translate }}</p></md-list-item>
        <md-list-item [routerLink]="['register']" (click)="sidenav.toggle()"><md-icon md-list-icon>group_add</md-icon><p md-line>{{ 'Registrieren' | translate}}</p></md-list-item>
        <md-list-item [routerLink]="['login']" (click)="sidenav.toggle()"><md-icon md-list-icon>https</md-icon><p md-line>{{ 'Login' | translate }}</p></md-list-item>
      </md-nav-list>
      <md-nav-list *ngIf="logged">
        <md-list-item [routerLink]="['dashboard']" (click)="sidenav.toggle()"><md-icon md-list-icon>dashboard</md-icon><p md-line>{{ 'Dashboard' | translate }}</p></md-list-item>
        <md-list-item [routerLink]="['ranking']" (click)="sidenav.toggle()"><md-icon svgIcon="cup" md-list-icon></md-icon><p md-line>{{ 'Rangliste' | translate }}</p></md-list-item>
        <md-list-item [routerLink]="['tipp']" (click)="sidenav.toggle()"><md-icon svgIcon="ball" md-list-icon></md-icon><p md-line>{{ 'Tippen' | translate }}</p></md-list-item>
        <md-list-item [routerLink]="['members']" (click)="sidenav.toggle()"><md-icon md-list-icon>group</md-icon><p md-line>{{ 'Mitspieler' | translate }}</p></md-list-item>
        <md-list-item [routerLink]="['profile']" (click)="sidenav.toggle()"><md-icon md-list-icon>account_circle</md-icon><p md-line>{{ 'Mein Profil' | translate }}</p></md-list-item>
        <md-list-item [routerLink]="['rules']" (click)="sidenav.toggle()"><md-icon md-list-icon>account_balance</md-icon><p md-line>{{ 'Regeln' | translate }}</p></md-list-item>
        <md-list-item (click)="logout()" (click)="sidenav.toggle()"><md-icon md-list-icon>power_settings_new</md-icon><p md-line>{{ 'Logout' | translate }}</p></md-list-item>
        <md-divider></md-divider>
        <md-list-item *ngIf="admin" [routerLink]="['admin']" (click)="sidenav.toggle()"><md-icon md-list-icon>verified_user</md-icon><p md-line>{{ 'Administration' | translate }}</p></md-list-item>
      </md-nav-list>
    </div>
  </md-sidenav>

  <md-sidenav #sidenavright align="end" mode="over" class="app-sidenav mat-sidenav-over">
    <div class="chat-label">{{ 'Eingabe' | translate }}</div>
    <div class="chat-input">
      <form (ngSubmit)="sendChatMessage()" #LoginForm="ngForm">
        <div class="chat-inputfield">
          <md-input-container class="example-full-width">
            <input mdInput placeholder="{{ 'Nachricht' | translate }}" [(ngModel)]="chatmodelview.message" name="nachricht">
          </md-input-container>
        </div>
        <div class="chat-send">
          <button md-icon-button class="button-send" color="primary"><md-icon>send</md-icon></button>
        </div>
      </form>
    </div>
    <div class="chat-label">{{ 'Nachrichten' | translate }}</div>
    <div class="chat-content">
      <div class="chat-line" *ngFor="let chat of chatmodelviewAll">
        <div class="chat-username">{{(chat.member | async)?.firstName}} {{(chat.member | async)?.lastName}}</div>
        <md-divider></md-divider>
        <div class="chat-message">{{chat.message}}</div>
      </div>
    </div>
  </md-sidenav>

  <router-outlet></router-outlet>

</md-sidenav-container>