.app-icon-button {
  box-shadow: none;
  user-select: none;
  background: none;
  border: none;
  cursor: pointer;
  filter: none;
  font-weight: normal;
  height: auto;
  line-height: inherit;
  margin: 0;
  min-width: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
}
.app-toolbar-filler {
  flex: 1 1 auto;
}
.app-toolbar-menu {
  padding: 0 14px 0 14px;
  color: white;
}
.app-layout {
  min-height: 100vh;
}
.app-sidenav {
  width: 250px;
}
.logo_header {
  margin-left: 10px;
  padding-top: 5px;
  flex-grow: 100;
}
.chat-content {
  padding: 5px;
  height: calc( 100% - 182px );
  overflow: scroll;
}
.chat-line {
  display: block;
}
.chat-username {
  display: block;
  font-size: 14px;
  margin-bottom: 3px;
  color: rgba(0,0,0,.54);
}
.chat-message {
  display: block;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 5px;
}
.chat-input {
  padding: 5px;
  height: 50px;
  display: block;
}
.chat-inputfield {
  width: 195px;
  display: inline-block;
}
.chat-send {
  width: 40px;
  width: auto;
  display: inline-block;
}
.chat-label {
  border: none;
  font-size: 10px;
  letter-spacing: 1px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  padding: 0 16px;
  background: rgba(0,0,0,.32);
  color: #fff;
}
.icon-notification {
  line-height: 18px;
  width: 17px;
  height: 17px;
  position: absolute;
  font-size: 10px;
  font-weight: 600;
  border-radius: 50%;
  z-index: 1;
  background-color: #ff0000;
  color: #fff;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  text-align: center;
}
.navbar {
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    position: relative;
    z-index: 10;
}