.app-icon-button {
  box-shadow: none;
  user-select: none;
  background: none;
  border: none;
  cursor: pointer;
  filter: none;
  font-weight: normal;
  height: auto;
  line-height: inherit;
  margin: 0;
  min-width: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
}
.app-toolbar-filler {
  flex: 1 1 auto;
}
.app-toolbar-menu {
  padding: 0 14px 0 14px;
  color: white;
}
.app-layout {
  min-height: 100vh;
}
.app-sidenav {
  width: 200px;
}
.logo_header {
  margin-left: 10px;
  padding-top: 5px;
}
.chat_content {
  margin-left: 5px;
  margin-top: 5px;
}