<md-sidenav-layout class="app-layout" fullscreen>
  
  <md-sidenav #sidenav mode="push" class="app-sidenav md-sidenav-over">
    <md-nav-list>
      <a md-list-item  [routerLink]="['login']" (click)="sidenav.toggle()">Login</a>
      <a md-list-item  (click)="logout()" (click)="sidenav.toggle()">Logout</a>
    </md-nav-list>
  </md-sidenav>

  <md-toolbar color="primary">
    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>
    <span class="margin-left10"><img src="/assets/russia_logo_wide.png" style="height:50px"></span>
  </md-toolbar>

  <router-outlet></router-outlet>

</md-sidenav-layout>