<md-sidenav-container class="app-layout" fullscreen>
  <md-sidenav #sidenav mode="over" class="app-sidenav md-sidenav-over">
    <md-toolbar color="primary">Hi {{member.firstName}}!</md-toolbar>
    <div class="my-content">
      <md-nav-list *ngIf="!(isAuth() | async)">
        <a md-list-item [routerLink]="['intro']" (click)="sidenav.toggle()">{{ 'Einführung' | translate }}</a>
        <a md-list-item [routerLink]="['register']" (click)="sidenav.toggle()">{{ 'Registrieren' | translate}}</a>
        <a md-list-item [routerLink]="['login']" (click)="sidenav.toggle()">{{ 'Login' | translate }}</a>
      </md-nav-list>
      <md-nav-list *ngIf="isAuth() | async">
        <a md-list-item [routerLink]="['intro']" (click)="sidenav.toggle()">{{ 'Einführung' | translate }}</a>
        <a md-list-item [routerLink]="['dashboard']" (click)="sidenav.toggle()">{{ 'Dashboard' | translate }}</a>
        <a md-list-item [routerLink]="['ranking']" (click)="sidenav.toggle()">{{ 'Rangliste' | translate }}</a>
        <a md-list-item [routerLink]="['tipp']" (click)="sidenav.toggle()">{{ 'Tippen' | translate }}</a>
        <a md-list-item [routerLink]="['members']" (click)="sidenav.toggle()">{{ 'Mitspieler' | translate }}</a>
        <a md-list-item *ngIf="isAdmin() | async" [routerLink]="['admin']" (click)="sidenav.toggle()">{{ 'Administration' | translate }}</a>
        <a md-list-item (click)="logout()" (click)="sidenav.toggle()">{{ 'Logout' | translate }}</a>
      </md-nav-list>
    </div>
  </md-sidenav>

  <md-toolbar color="primary">
    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>
    <span class="logo_header" style="flex-grow: 100"><img src="assets/atippr_logo.png" style="height:30px"></span>
    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>
  </md-toolbar>

  <router-outlet></router-outlet>

</md-sidenav-container>