<div class="card-container">
  <div class="news_wrapper">
    <h2><a [routerLink]="['/admin']"><md-icon>arrow_back</md-icon></a> &nbsp; {{ 'Neuigkeiten' | translate }}</h2>
    <form (ngSubmit)="changeNews()" #LoginForm="ngForm">
        <md-input-container class="news-text">
        <textarea mdInput placeholder="Text" rows="10" [(ngModel)]="newsmodel.text" name="text">{{ newsmodel.text }}</textarea>
        </md-input-container>
        <br>
    </form>
  </div>
</div>
<span class="app-action">
  <button md-fab (click)="changeNews()" color="primary">
    <md-icon>save</md-icon>
  </button>
</span>