.card-container {
    width: 100%;
    overflow: auto;
    max-height: 100%;
}
.app-action {
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.news_wrapper {
    margin: 10px;
}
.btn_newnews {
    margin-top: 20px;
    margin-bottom: 10px;
}
@media(max-width:480px){
    .news-text {
        width: 100%;
    }
}
@media(min-width:480px){
    .news-text {
        width: 50%;
    }
}