<div class="card-container">
  <div class="profile_wrapper">
    <h2><a [routerLink]="['/dashboard']"><md-icon>arrow_back</md-icon></a> &nbsp; {{ 'Mein Profil' | translate }}</h2>
    <form (ngSubmit)="doProfileChange()" #LoginForm="ngForm">
      <div class="photo_wrapper">
        <img *ngIf="membersmodelview.photo" [src]="membersmodelview.photo" alt="Avatar" style="max-height:200px;max-width:200px">
      </div>
      <div class="userdata_wrapper">
        {{ 'Profilbild ändern' | translate }}<br> 
        <input class="file-upload" type="file" (change)="selectFile($event)" accept="image/*"><br>
        <md-input-container class="profile-input">
          <input mdInput required placeholder="{{ 'eMail' | translate }}" [(ngModel)]="membersmodelview.email" name="eMail" disabled>
        </md-input-container>
        <br>
        <md-input-container class="profile-input">
          <input mdInput required placeholder="{{ 'Vorname' | translate }}" [(ngModel)]="membersmodelview.firstName" name="firstName">
        </md-input-container>
        <br>
        <md-input-container class="profile-input">
          <input mdInput required placeholder="{{ 'Nachname' | translate }}" [(ngModel)]="membersmodelview.lastName" name="lastName">
        </md-input-container>
        <br>
        <button md-raised-button color="primary" class="btn_change" type="submit">{{ 'Ändern' | translate }}</button>
      </div>
    </form>
  </div>
</div>