.card-container {
    width: 100%;
}
.dashboard_wrapper {
    margin: 10px;
}
md-card {
    margin: 5px;
}
.app-spinner {
  height: 30px;
  width: 30px;
  display: inline-block;
}
.teamflag {
    width: 50px;
    height: 50px;
}
.flags_wrapper {
    display: flex;
    height: 50px;
}
.flags_separator {
    height: 100%;
    vertical-align: middle;
    line-height: 50px;
}
.match_start {
    margin-top: 5px;
}