<div class="card-container">
  <div class="dashboard_wrapper"> 
    <h2>{{ 'Dashboard' | translate }}</h2>
    <md-card>
      <md-card-subtitle>{{ 'Nächstes Match' | translate }}</md-card-subtitle>
      <md-card-content>
        <md-spinner *ngIf="!preloadingDone" class="app-spinner"></md-spinner>
        <div class="flags_wrapper" *ngIf="preloadingDone">
          <div><img class="teamflag" [src]="matchesmodel.flag1" /></div>
          <div class="flags_separator"> &nbsp; - &nbsp; </div>
          <div><img class="teamflag" [src]="matchesmodel.flag2" /></div>
        </div>
        <div *ngIf="preloadingDone" class="match_start">{{matchesmodel.start}}</div>
      </md-card-content>
    </md-card>
  </div>
</div>