md-card {
    margin: 5px;
}
.card-container {
    width: 100%;
}
.dashboard_wrapper {
    margin: 10px;
}
.app-spinner {
  height: 30px;
  width: 30px;
  display: inline-block;
}
.teamflag {
    width: 50px;
    height: 50px;
}
.flags_wrapper {
    display: flex;
    height: 50px;
}
.flags_separator {
    height: 100%;
    vertical-align: middle;
    line-height: 50px;
}
.match_start {
    margin-top: 5px;
}
.members_wrapper {
    display: block;
}
.members_total {
    display: block;
}
.members_online {
    display: block;
}
.news_text {
    white-space: pre-wrap;
}