.card-container {
    width:100%;
}
.members_wrapper {
    margin: 10px;
}
.online-wrapper {
	width: 24px;
	height: 24px;
	justify-content: center;
	align-items: center;
	display: flex;
}
.status_online {
	border-radius: 50%;
	width: 10px;
	height: 10px;
    background-color: green;
    line-height: 50px;
}
.status_offline {
	border-radius: 50%;
	width: 10px;
	height: 10px;
    background-color: red;
}