.btn_register {
    margin-top: 20px;
    margin-bottom: 10px;
}
.card-container {
  display: flex;
  flex-flow: row wrap;
}
.register_container {
    width:100%;
}
.register_msg {
    margin-bottom: 10px;
}
.error_msg {
    color: red;
}
.success_msg {
    color: green;
}
md-card {
    margin: 5px;
}

@media(max-width:480px){
    md-input{
        width: 100%;
    }
}
@media(min-width:480px){
    md-input{
        width: 50%;
    }
}