<div class="card-container">
  <div class="register_wrapper"> 
    <h2>{{ 'Registrieren' | translate }}</h2>
    <div class="register_form">
      <form (ngSubmit)="doRegister()" #LoginForm="ngForm">
        <md-input-container class="register-input">
          <input mdInput required placeholder="{{ 'eMail' | translate }}" [(ngModel)]="registermodel.email" name="email">
        </md-input-container>
        <br>
        <md-input-container class="register-input">
          <input mdInput required placeholder="{{ 'Vorname' | translate }}" [(ngModel)]="registermodel.firstname" name="firstname">
        </md-input-container>
        <br>
        <md-input-container class="register-input">
          <input mdInput required placeholder="{{ 'Nachname' | translate }}" [(ngModel)]="registermodel.lastname" name="lastname">
        </md-input-container>
        <br>
        <md-input-container class="register-input">
          <input mdInput required type="password" placeholder="{{ 'Passwort' | translate }}" [(ngModel)]="registermodel.password" name="password">
        </md-input-container>
        <br>
        <md-input-container class="register-input">
          <input mdInput required type="password" placeholder="{{ 'Passwort bestätigen' | translate }}" [(ngModel)]="registermodel.password2" name="password2">
        </md-input-container>
        <section class="checkbox-section">
          <md-checkbox [(ngModel)]="createOwn" align="start" [ngModelOptions]="{standalone: true}">{{ 'Eigenes Tippspiel anlegen' | translate }}</md-checkbox>
        </section>
        <md-input-container class="register-input" *ngIf="createOwn == false">
          <input mdInput placeholder="{{ 'Spiel-ID beitreten' | translate }}" [(ngModel)]="registermodel.gameid" name="gameid" type="text">
        </md-input-container>
        <br>
        <button md-raised-button color="primary" class="btn_register" type="submit">{{ 'Registrieren' | translate }}</button>
      </form>
    </div>
  </div>
</div>