.btn_register {
    margin-top: 20px;
    margin-bottom: 10px;
}
.card-container {
    width: 100%;
}
.register_wrapper {
    margin: 10px;
}

@media(max-width:480px){
    md-input{
        width: 100%;
    }
}
@media(min-width:480px){
    md-input{
        width: 50%;
    }
}